.menubutton {

}

.menu {
	float: left;

}

.material-icons.add-button {
	float: right;
	padding-right: 1%;
}

.center {
	display: block;
	text-align: center;
	background-color: white;
	position: absolute;
	z-index: -1;
	width: 100%;
}

li {
	list-style-type: none;
}

.app {
	display: block;
	background-color: rgb(215, 204, 255);
}

button {
	border: 0.5px solid black;
}

.list-modify-button {
	display: block;
	float: right;
	margin-right: 1%;
}